{% extends "formsLayout.njk" %} {% block form %}
<form
  class="bg-white shadow p-10 w-full max-w-lg rounded"
  action="/auth/signin"
  method="post"
>
  <h2 class="text-center p-5 text-2xl font-bold text-gray-700">
    Sign In to Your Account
  </h2>
  <p class="pb-5 font-semibold text-success text-center">Welcome back!</p>

  {% if messages.error %}
  <div class="bg-red-100 p-3 rounded-md text-red-500">
    {{ messages.error }}
  </div>
  {% endif %} {% if messages.success %}
  <div class="bg-green-100 p-3 rounded-md text-green-500">
    {{ messages.success }}
  </div>
  {% endif %}
  <input type="hidden" name="next" value="{{ next }}" />

  <div class="py-4">
    <input
      type="email"
      name="email"
      class="px-5 py-1 w-full rounded-md border bg-white border-gray-200 placeholder:text-sm"
      placeholder="Email Address"
    />
  </div>
  <div class="py-5">
    <input
      type="password"
      name="password"
      class="px-5 py-1 w-full rounded-md border bg-white border-gray-200 placeholder:text-sm"
      placeholder="Password"
    />
  </div>
  <div class="p-2 py-4 text-sm text-gray-500">
    <p>
      Don't have an account?<a
        class=" text-green-400 px-2"
        href="/auth/signup"
        >Create Account</a
      >
    </p>
  </div>
  <div class="py-5">
    <button
      type="submit"
      class="bg-gray-800 w-full rounded p-1.5 text-white font-bold"
    >
      SignIn
    </button>
  </div>
</form>
{% endblock %}
