<footer class="bg-dark text-light p-3 mt-5">
    <div class="container">
      <div class="row">

        <div class="col-md p-3">
          <h5 class="white-text">Links</h5>
          <div>
            <p><a href="#!">Home</a></p>
            <p><a href="#!">Residents</a></p>
            <p><a href="#!">Nurses</a></p>
          </div>
        </div>


        <div class="col-md p-3">
          <h5 class="white-text">Contacts</h5>
          <div class="text-white">
            <p><a class="grey-text text-lighten-3 " href="#!"><i class="bi bi-telephone me-2"></i>0612345678</a></p>
            <p><a class="grey-text text-lighten-3 " href="#!"><i class="bi bi-twitter-x me-2"></i>DCMS</a></p>
            <p><a href="#!"><i class="bi bi-instagram me-2"></i>DCMS</a></p>
            <p><a href="#!"><i class="bi bi-facebook me-2"></i>DCMS</a></p>
          </div>
        </div>
        <div class="col-md p-3">
          <h5 class="white-text">About</h5>
          <div class="text-primary">
            <p><a href="#!">Home</a></p>
            <p><a href="#!">Residents</a></p>
            <p><a href="#!">Nurses</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container p-4 text-center">
        © 2025 DCMS
      </div>
      <p></p>

    </div>
  </footer>